* {
  box-sizing: border-box;
}

.container {
  width: 350px;
  height: 350px;
}

.display {
  height: 200px;
  background-color: gray;
  border-radius: 12px;
  color: white;
  font-size: xx-large;
}

.row {
  display: flex;
  justify-content: center;
}

button {
  width: 75px;
  height: 75px;
  font-size: x-large;
}
